.flex {
  display: flex;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 1px solid gray;
  padding: 20px 40px;
  width: 500px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group > input {
  height: 30px;
  padding: 10px;
  font-size: 20px;
  outline: none;
}

.form-submit {
  width: 100%;
  text-align: center;
}

.form-submit > button {
  width: 150px;
  height: 60px;
  background-color: aqua;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
